<h1>Stupid Coaching</h1>
<div class="container">
<div class="form-group">
  <label for="inputAnswer">Ask your coach anything:</label>
  <form action="answer">
    <input type="text" class="form-control" id="inputAnswer" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
</div>
